table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
    background-color: lightblue;
    color: white;
    font-size: 20px;
}

th, td {
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: separate;
}

label {
    width: 75px;
    display: inline-block;
}
