@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.h1 = "Collin Lenon";
    ViewBag.BestClassEver = "IS 413";
}

<body>

    <!-- Picture doing what I enjoy -->
    <img src="~/img/CollinTennis.jpg" />
    <p>I am a college student at Brigham Young University in the Information Systems program, and I enjoy playing tennis.</p>

    <!-- What I hope to get out of IS 413 -->
    <p>
        IS 413 seems like a cool opportunity to learn a language that's not only widely used in the world, <br />
        but is also very respected. I hope to really apply myself in tis course so that this web app doesn't <br />
        just become a skill that sits on my resume without use. I want to be able to apply it in the work that <br />
        I do on a daily basis and get out of it all that can. I hope to learn all that I can to apply the skills <br />
        that come with something as powerful as ASP.NET.
    </p>

    <!-- Top #3 jobs I am most interested in pursuing when I graduate -->
    <p>Top 3 Jobs of Interest:</p>
    <ul class="quiz-props">
        <li>1. Data Analyst</li>
        <li>2. Data Scientist</li>
        <li>3. Project Manager</li>
    </ul>
</body>