@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<!-- Photo and Welcome message-->
<div class="text-center">
    <h1 class="display-4">Hi Joel, Welcome!</h1><br /><br />
    <img src="~/JoelHilton.jpg" />
</div>
    