@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home of the Layton Utah Temple Tours!</h1>
</div>
<br />
<div class="text-center">
    <img src="~/img/layton-utah-temple-6932-main.jpg" width="800" />
</div>

<br />
<div>
    <br />
    <h3>General Tour Instructions:</h3>
    <ul>
        <li>
            Masks are required
        </li>
        <li>
            Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer
        </li>
        <li>
            Casual dress (except Sunday)
        </li>
    </ul><br />
    <h3>Special Accommodations:</h3>
    <i>Check the appropriate box when signing up for a tour</i>
    <ul>
        <li>
            Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday
        </li>
    </ul>
    <br />
    <h3>Available Tours:</h3>
    <ul>
        <li>
            Tour (Outdoor): We have been asked to discontinue outside tours at this time
        </li>
        <li>
            Trailer Tour: All tours will be inside the trailer (masks are required)
        </li>
    </ul><br />
    <h3>Contact Information:</h3>
    <p>For questions or special requests:</p>
    <p><span class="font-weight-bold">Call:</span> 801-628-4488 <br /></b><span class="font-weight-bold">Email:</span> LaytonTempleTours@gmail.com</p>
    <p class="font-weight-bold">Address: <a href="https://www.google.com/maps/search/?api=1&query=1500+E+Oak+Hills+Drive+Layton+UT+84040" target="_blank">Layton Utah Temple 1500 E Oak Hills Drive, UT 84040</a></p>
</div>
<br />


<div>
    <a class="btn btn-danger text-white p-2" asp-action="SignUpPage">Sign Up</a>
    <a class="btn btn-danger text-white p-2" asp-action="Appointments">View Booked Tours</a>
</div>