@{
    ViewData["Title"] = "Add a Movie";
}

@model Movies

<h3 class="display-4 text-center">@ViewData["Title"]</h3>
<br />

<div class="container col-10 shadow-lg p-3 mb-5 rounded text-white" style="border: 3px solid black; background-color: #6c95e6">
    <form asp-action="AddMovie" method="post" class="text-center">
        <div>
            <div class="form-group row justify-content-center">
                <label asp-for="Category" class="col-sm-2 col-form-label text-center">Category</label>
                <input class="col-sm-3 form-control" asp-for="Category" type="text" />
                <span class="text-light pl-3" asp-validation-for="Category"></span>
            </div>
            <div class="form-group row justify-content-center">
                <label asp-for="Title" class="col-sm-2 col-form-label text-center">Title</label>
                <input class="col-sm-3 form-control" asp-for="Title" type="text" />
                <span class="text-light pl-3" asp-validation-for="Title"></span>
            </div>
            <div class="form-group row justify-content-center">
                <label asp-for="Year" class="col-sm-2 col-form-label text-center">Year</label>
                <input class="col-sm-3 form-control" asp-for="Year" type="text" />
                <span class="text-light pl-3" asp-validation-for="Year"></span>
            </div>
            <div class="form-group row justify-content-center">
                <label asp-for="Director" class="col-sm-2 col-form-label text-center">Director</label>
                <input class="col-sm-3 form-control" asp-for="Director" type="text" />
                <span class="text-light pl-3" asp-validation-for="Director"></span>
            </div>
            <div class="form-group row justify-content-center">
                <label asp-for="Rating" class="col-sm-2 col-form-label text-center">Rating</label>
                <select class="form-select col-sm-3" asp-for="Rating">
                    <option value="">Select One</option>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select>
                <span class="text-light pl-3" asp-validation-for="Rating"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="form-check col-sm-2">
                    <label class="col-form-label text-right" asp-for="Edited">Edited</label>
                </div>
                <div class="col-sm-3 row justify-content-center text-center">
                    <div class="form-check form-check-inline pl-3 pr-2">
                        <label class="form-check-label pr-2" asp-for="Edited">Yes</label>
                        <input class="form-check-input" asp-for="Edited" type="radio" value="true" />
                    </div>
                    <div class="form-check form-check-inline pl-2">
                        <label class="form-check-label pr-2" asp-for="Edited">No</label>
                        <input class="form-check-input" asp-for="Edited" type="radio" value="false" />
                        <span class="text-light" asp-validation-for="Edited"></span>
                        <br />
                    </div>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label asp-for="LentTo" class="col-sm-2 col-form-label text-center">Lent To</label>
                <input class="col-sm-3 form-control" asp-for="LentTo" type="text" />
                <span class="text-light" asp-validation-for="LentTo"></span>
            </div>
            <div class="form-group row justify-content-center">
                <label asp-for="Notes" class="col-sm-2 col-form-label text-center">Notes</label>
                <input class="col-sm-3 form-control" asp-for="Notes" type="text" />
                <span class="text-light pl-3" asp-validation-for="Notes"></span>
            </div>
        </div>

        <button class="btn btn-danger" type="submit">Submit</button>
    </form>
</div>

<div class="container">

    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend>Contact Us Today!</legend>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="first_name" placeholder="First Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                    </div>
                </div>
            </div>


            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Phone #</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="address" placeholder="Address" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">City</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="city" placeholder="city" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Select Basic -->

            <div class="form-group">
                <label class="col-md-4 control-label">State</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="state" class="form-control selectpicker">
                            <option value=" ">Please select your state</option>
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option>Arizona</option>
                            <option>Arkansas</option>
                            <option>California</option>
                            <option>Colorado</option>
                            <option>Connecticut</option>
                            <option>Delaware</option>
                            <option>District of Columbia</option>
                            <option> Florida</option>
                            <option>Georgia</option>
                            <option>Hawaii</option>
                            <option>daho</option>
                            <option>Illinois</option>
                            <option>Indiana</option>
                            <option>Iowa</option>
                            <option> Kansas</option>
                            <option>Kentucky</option>
                            <option>Louisiana</option>
                            <option>Maine</option>
                            <option>Maryland</option>
                            <option> Mass</option>
                            <option>Michigan</option>
                            <option>Minnesota</option>
                            <option>Mississippi</option>
                            <option>Missouri</option>
                            <option>Montana</option>
                            <option>Nebraska</option>
                            <option>Nevada</option>
                            <option>New Hampshire</option>
                            <option>New Jersey</option>
                            <option>New Mexico</option>
                            <option>New York</option>
                            <option>North Carolina</option>
                            <option>North Dakota</option>
                            <option>Ohio</option>
                            <option>Oklahoma</option>
                            <option>Oregon</option>
                            <option>Pennsylvania</option>
                            <option>Rhode Island</option>
                            <option>South Carolina</option>
                            <option>South Dakota</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option> Uttah</option>
                            <option>Vermont</option>
                            <option>Virginia</option>
                            <option>Washington</option>
                            <option>West Virginia</option>
                            <option>Wisconsin</option>
                            <option>Wyoming</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Zip Code</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="zip" placeholder="Zip Code" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Website or domain name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input name="website" placeholder="Website or domain name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- radio checks -->
            <div class="form-group">
                <label class="col-md-4 control-label">Do you have hosting?</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label>
                            <input type="radio" name="hosting" value="yes" /> Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="hosting" value="no" /> No
                        </label>
                    </div>
                </div>
            </div>

            <!-- Text area -->

            <div class="form-group">
                <label class="col-md-4 control-label">Project Description</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea class="form-control" name="comment" placeholder="Project Description"></textarea>
                    </div>
                </div>
            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
    </div><!-- /.container -->