@{
    ViewData["Title"] = "Joel Hilton";
}

<!-- Photo and Welcome message-->
<div class="text-center">
    <h1 class="display-4">Welcome to my Movie Collection</h1><br />
    <img src="~/movie_film.jpeg" width="625px" height="400px" /><br /><br />
    <p>Feel free to browse around and watch any movie you find interesting!</p>
</div>
