@{
    ViewData["Title"] = "Joel Hilton";
}

<!-- Photo and Welcome message-->
<div class="text-center">
    <h1 class="display-4">Joel Hilton's Movie Collection</h1><br />
    <img src="~/JoelHilton.jpg" /><br /><br />
    <p>Welcome to my movie collection. Feel free to browse around and snatch any ideas you find interesting!</p>
</div>
