table, th, td {
    border: 1px solid black;
}

/*th {
    height: 50px;
    color: white;
    font-size: 16px;
}*/

/*th, td {
    padding: 5px;
}*/

table {
    width: 100%;
    border-collapse: separate;
}

/*label {
    width: 75px;
    display: inline-block;
}*/

/*select, input {
    width: 200px;
}*/